<html>
  <head>
    <title>Account Verification</title>
  </head>
  <body>
    <h1>Account Verification</h1>
    <h2>Hi {{ name }}!</h2>
    <br />
    <p>Please confirm your email address by entering the verification code!</p>
    <p>
      Verification Code: <h1>{{ registerToken }}</h1>
    </p>
  </body>
</html>;
